<div class="main-container container" id="games">
  <div class="row games-container">
    <h2 class="center-align">Tracked Games</h2>

    <div *ngFor="let game of games" class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image">
          <img class="responsive-img" src="{{ setArtSize(game.boxArtUrl) }}" />
        </div>
        <app-snapshot [gameId]="game.twitchId"> </app-snapshot>
        <div class="card-action">
          <a href="#">{{ game.name }}</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div id="chart" class="chart-container row">
    <app-chart [games]="games" class="col s12"></app-chart>
  </div>
</div>
