/* DashboardComponent's private CSS styles */
h2 {
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: space-between;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-right: 10%;
  margin-left: 10%;
}

.chart-container {
  flex-grow: 1.5;
}
.example-card {
  max-width: 150px;
  margin: 5%;
}

mat-card {
  transition: transform 1s;
}
mat-card:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 5px purple, -2px -2px 5px purple;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
