<h2>Tracked Games</h2>
<div class="main-container">
  <div class="card-container">
    <a *ngFor="let game of games" routerLink="/detail/{{ game.twitchId }}">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-header>
          <mat-card-subtitle>{{ game.name }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </a>
  </div>

  <div class="chart-container">
    <app-line-chart></app-line-chart>
  </div>
</div>
